<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="hiastambahproduk.css" />
  </head>
  <body>
    <div id="kontainer">
      <div id="judul">
        <h1>Tambah Produk</h1>
      </div>
      <div id="kontainerform">
        <form action="" method="POST">
          <label for="nama1">Nama: </label>
          <br />
          <input type="text" id="nama1" name="nama1" required />
          <br />
          <label for="keterangan1">Keterangan: </label>
          <br />
          <input type="text" id="keterangan1" name="keterangan1" required />
          <br />
          <label for="harga1">Harga: </label>
          <br />
          <input type="number" id="harga1" name="harga1" required />
          <br />
          <label for="jumlah1">Jumlah: </label>
          <br />
          <input type="number" id="jumlah1" name="jumlah1" required />
          <br />
          <button id="tomboltambah">Tambah</button>
        </form>
      </div>
    </div>
  </body>
</html>
